/* SQL Manager Lite for InterBase and Firebird 5.2.6.45382 */
/* ------------------------------------------------------- */
/* Host     : localhost                                    */
/* Database : C:\FIREBIRD_DATA\GESCHICHTENDATENBANK.FDB    */


CREATE DATABASE '127.0.0.1/gds_db:C:\FIREBIRD_DATA\GESCHICHTENDATENBANK.FDB'   USER 'SYSDBA'
   PAGE_SIZE 8192
   DEFAULT CHARACTER SET NONE;

/* Structure for the `AUTOR` table :  */

CREATE TABLE AUTOR (
  ID INTEGER NOT NULL,
  VORNAME VARCHAR(50),
  "NAME" VARCHAR(50));


ALTER TABLE AUTOR ADD CONSTRAINT PK_AUTHOR PRIMARY KEY (ID);

/* Definition for the `AUTOR_ID_INC` generator :  */

CREATE GENERATOR AUTOR_ID_INC;

SET GENERATOR AUTOR_ID_INC TO 3;

/* Definition for the `SET_AUTOR_ID` trigger :  */

SET TERM ^ ;

CREATE TRIGGER SET_AUTOR_ID FOR AUTOR
ACTIVE BEFORE INSERT
POSITION 0
AS
BEGIN
    IF (NEW.ID IS NULL)
      THEN NEW.ID = GEN_ID(AUTOR_ID_INC,1);
  END^

SET TERM ; ^

/* Structure for the `FIGUR` table :  */

CREATE TABLE FIGUR (
  ID INTEGER NOT NULL,
  VORNAME VARCHAR(50),
  "NAME" VARCHAR(50));


ALTER TABLE FIGUR ADD CONSTRAINT PK_FIGUR PRIMARY KEY (ID);

/* Definition for the `FIGUR_ID_INC` generator :  */

CREATE GENERATOR FIGUR_ID_INC;

SET GENERATOR FIGUR_ID_INC TO 6;

/* Definition for the `SET_FIGUR_ID` trigger :  */

SET TERM ^ ;

CREATE TRIGGER SET_FIGUR_ID FOR FIGUR
ACTIVE BEFORE INSERT
POSITION 0
AS
BEGIN
    IF (NEW.ID IS NULL)
      THEN NEW.ID = GEN_ID(FIGUR_ID_INC,1);
  END^

SET TERM ; ^

/* Structure for the `GENRE` table :  */

CREATE TABLE GENRE (
  ID INTEGER NOT NULL,
  BEZEICHNUNG VARCHAR(50));


ALTER TABLE GENRE ADD CONSTRAINT PK_GESCHICHTE_TYP PRIMARY KEY (ID);

/* Definition for the `GENRE_ID_INC` generator :  */

CREATE GENERATOR GENRE_ID_INC;

SET GENERATOR GENRE_ID_INC TO 3;

/* Definition for the `SET_GENRE_ID` trigger :  */

SET TERM ^ ;

CREATE TRIGGER SET_GENRE_ID FOR GENRE
ACTIVE BEFORE INSERT
POSITION 0
AS
BEGIN
    IF (NEW.ID IS NULL)
      THEN NEW.ID = GEN_ID(GENRE_ID_INC,1);
  END^

SET TERM ; ^

/* Structure for the `LAND` table :  */

CREATE TABLE LAND (
  ID INTEGER NOT NULL,
  BEZEICHNUNG VARCHAR(50));


ALTER TABLE LAND ADD CONSTRAINT PK_LAND PRIMARY KEY (ID);

/* Structure for the `GESCHICHTE` table :  */

CREATE TABLE GESCHICHTE (
  ID INTEGER NOT NULL,
  AUTOR_ID INTEGER,
  LAND_ID INTEGER,
  GENRE_ID INTEGER,
  BEZEICHNUNG VARCHAR(50),
  ENTSTEHUNGSJAHR SMALLINT,
  TEXT BLOB SUB_TYPE 1);


ALTER TABLE GESCHICHTE ADD CONSTRAINT PK_GESCHICHTE PRIMARY KEY (ID);

ALTER TABLE GESCHICHTE ADD CONSTRAINT FK_GESCHICHTE_AUTOR FOREIGN KEY (AUTOR_ID) REFERENCES AUTOR(ID);

ALTER TABLE GESCHICHTE ADD CONSTRAINT FK_GESCHICHTE_GENRE FOREIGN KEY (GENRE_ID) REFERENCES GENRE(ID);

ALTER TABLE GESCHICHTE ADD CONSTRAINT FK_GESCHICHTE_LAND FOREIGN KEY (LAND_ID) REFERENCES LAND(ID);

/* Definition for the `GESCHICHTE_ID_INC` generator :  */

CREATE GENERATOR GESCHICHTE_ID_INC;

SET GENERATOR GESCHICHTE_ID_INC TO 6;

/* Definition for the `SET_GESCHICHTE_ID` trigger :  */

SET TERM ^ ;

CREATE TRIGGER SET_GESCHICHTE_ID FOR GESCHICHTE
ACTIVE BEFORE INSERT
POSITION 0
AS
BEGIN
    IF (NEW.ID IS NULL)
      THEN NEW.ID = GEN_ID(GESCHICHTE_ID_INC,1);
  END^

SET TERM ; ^

/* Definition for the `LAND_ID_INC` generator :  */

CREATE GENERATOR LAND_ID_INC;

SET GENERATOR LAND_ID_INC TO 78;

/* Definition for the `SET_LAND_ID` trigger :  */

SET TERM ^ ;

CREATE TRIGGER SET_LAND_ID FOR LAND
ACTIVE BEFORE INSERT
POSITION 0
AS
BEGIN
    IF (NEW.ID IS NULL)
      THEN NEW.ID = GEN_ID(LAND_ID_INC,1);
  END^

SET TERM ; ^

/* Structure for the `GESCHICHTEFIGUR` table :  */

CREATE TABLE GESCHICHTEFIGUR (
  GESCHICHTE_ID INTEGER NOT NULL,
  FIGUR_ID INTEGER NOT NULL);


ALTER TABLE GESCHICHTEFIGUR ADD CONSTRAINT PK_GESCHICHTEFIGUR PRIMARY KEY (GESCHICHTE_ID,FIGUR_ID);

ALTER TABLE GESCHICHTEFIGUR ADD CONSTRAINT FK_GESCHICHTEFIGUR_FIGUR FOREIGN KEY (FIGUR_ID) REFERENCES FIGUR(ID);

ALTER TABLE GESCHICHTEFIGUR ADD CONSTRAINT FK_GESCHICHTEFIGUR_GESCHICHTE FOREIGN KEY (GESCHICHTE_ID) REFERENCES GESCHICHTE(ID) ON DELETE CASCADE ON UPDATE CASCADE;

/* Definition for the `V_FIGUREN` view :  */

CREATE VIEW V_FIGUREN(
  GESCHICHTE_ID,
  VORNAME,
  "NAME")
AS
SELECT GESCHICHTEFIGUR.GESCHICHTE_ID,FIGUR.VORNAME, FIGUR."NAME" FROM GESCHICHTEFIGUR 
JOIN FIGUR ON GESCHICHTEFIGUR.FIGUR_ID = FIGUR.ID;

/* Definition for the `V_UEBERSICHT` view :  */

CREATE VIEW V_UEBERSICHT(
  ID,
  TITEL,
  VORNAME,
  "NAME",
  ENTSTEHUNGSJAHR,
  GENRE,
  LAND)
AS
SELECT GESCHICHTE.ID,GESCHICHTE.BEZEICHNUNG AS TITEL, 
       AUTOR.VORNAME, AUTOR."NAME", GESCHICHTE.ENTSTEHUNGSJAHR, 
       GENRE.BEZEICHNUNG AS GENRE,
       LAND.BEZEICHNUNG FROM GESCHICHTE 
       JOIN AUTOR on GESCHICHTE.AUTOR_ID = AUTOR.ID 
       JOIN GENRE on GESCHICHTE.GENRE_ID = GENRE.ID
       JOIN LAND on GESCHICHTE.LAND_ID = LAND.ID;

/* Data for the `AUTOR` table  (Records 1 - 3) */

INSERT INTO AUTOR
VALUES (1, 'Michael', 'Ende');

INSERT INTO AUTOR
VALUES (2, 'Astrid', 'Lindgren');

INSERT INTO AUTOR
VALUES (3, 'Walter', 'Mörs');

COMMIT WORK;

/* Data for the `FIGUR` table  (Records 1 - 6) */

INSERT INTO FIGUR
VALUES (1, 'Atreju', NULL);

INSERT INTO FIGUR
VALUES (2, 'Bastian Baltasar', 'Bux');

INSERT INTO FIGUR
VALUES (3, 'Pippi', 'Langstrumpf');




COMMIT WORK;

/* Data for the `GENRE` table  (Records 1 - 3) */

INSERT INTO GENRE
VALUES (1, 'Märchen');

INSERT INTO GENRE
VALUES (2, 'Fantasy');

INSERT INTO GENRE
VALUES (3, 'Science Fiction');

COMMIT WORK;

/* Data for the `LAND` table  (Records 1 - 78) */

INSERT INTO LAND
VALUES (1, 'Vereinigte Arabische Emirate');

INSERT INTO LAND
VALUES (2, 'Argentinien');

INSERT INTO LAND
VALUES (3, 'Österreich');












































































COMMIT WORK;

/* Data for the `GESCHICHTE` table  (Records 1 - 3) */

INSERT INTO GESCHICHTE (ID, AUTOR_ID, LAND_ID, GENRE_ID, BEZEICHNUNG, ENTSTEHUNGSJAHR)
VALUES (1, 1, 1, 1, 'Testgeschichte', 1960);

INSERT INTO GESCHICHTE (ID, AUTOR_ID, LAND_ID, GENRE_ID, BEZEICHNUNG, ENTSTEHUNGSJAHR)
VALUES (5, 1, 5, 2, 'Testgeschichte2', 2001);

INSERT INTO GESCHICHTE (ID, AUTOR_ID, LAND_ID, GENRE_ID, BEZEICHNUNG, ENTSTEHUNGSJAHR)
VALUES (6, 3, 6, 3, 'Testgeschichte3', 2015);

COMMIT WORK;

/* Data for the `GESCHICHTEFIGUR` table  (Records 1 - 6) */

INSERT INTO GESCHICHTEFIGUR
VALUES (1, 2);

INSERT INTO GESCHICHTEFIGUR
VALUES (1, 1);

INSERT INTO GESCHICHTEFIGUR
VALUES (1, 4);




COMMIT WORK;

/* Privileges for the `AUTOR` :  */


GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON AUTOR TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON AUTOR TO SYSDBA WITH GRANT OPTION;


/* Privileges for the `FIGUR` :  */


GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON FIGUR TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON FIGUR TO SYSDBA WITH GRANT OPTION;


/* Privileges for the `GENRE` :  */


GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON GENRE TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON GENRE TO SYSDBA WITH GRANT OPTION;


/* Privileges for the `GESCHICHTE` :  */


GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON GESCHICHTE TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON GESCHICHTE TO SYSDBA WITH GRANT OPTION;


/* Privileges for the `GESCHICHTEFIGUR` :  */


GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON GESCHICHTEFIGUR TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON GESCHICHTEFIGUR TO SYSDBA WITH GRANT OPTION;


/* Privileges for the `LAND` :  */


GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON LAND TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON LAND TO SYSDBA WITH GRANT OPTION;

/* Privileges for the `V_FIGUREN` :  */


GRANT SELECT ON V_FIGUREN TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON V_FIGUREN TO SYSDBA WITH GRANT OPTION;


/* Privileges for the `V_UEBERSICHT` :  */


GRANT SELECT ON V_UEBERSICHT TO SW_USER;

GRANT SELECT, INSERT, DELETE, REFERENCES, UPDATE ON V_UEBERSICHT TO SYSDBA WITH GRANT OPTION;

